.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}
.trumbnail {
  display: flex;
  align-items: center;
  background: grey;
  flex-direction: column;
  padding-top: 10px;
  position: relative;
  min-height: fit-content;
  border-radius: 5px;
}
.cartButton {
  position: absolute;
  bottom: 0;
}
.buckets-list {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  flex-shrink: unset;
  /* text-align: left; */
  /* justify-content: center; */

  /* padding: 2px; */
  /* justify-content: left; */
  /* align-items: flex-start; */

  text-decoration: none;
  list-style: none;
}
.total {
  display: flex;
  flex-direction: column;
}
.listItem {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  color: #000;
  border: 2px solid olive;
  border-radius: 5px;
}
a {
  cursor: pointer;
  display: block;
}
.filter-wrapper {
  align-items: center;
  background: #61dafb;
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
}

.form-control {
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
.aBlock {
  display: flex;
  flex-direction: column;
}
hr {
  background: #fff;
}
.price {
  padding-bottom: 40px;
}
img {
  max-width: 100%;
  align-self: center;
  border-radius: 3px;
  transition: 2s;
}
img:hover {
  transform: rotateY(180deg);
}
p {
  display: inline-block;
  color: yellow;
  margin: 0;
  text-decoration: none;
}
.buckets {
  display: flex;
  flex-direction: column;
}
.buckets-alert {
  background: #61dafb;
  padding: 15px 0;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}
.App-link {
  color: #61dafb;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper{

}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
